<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TraderStart" value="3101"/>
    <add key="TraderEnd" value="3115"/>
    <add key="AmazonBaseUrl" value="http://www.amazon.com/Best-Sellers-Books-Investing/zgbs/books/2665"/>
    <add key="Amazonaire" value="http://investments-tips.com/store/wp-admin/admin.php?page=wpaz_bookmarkletpost&amp;asin=" />
  </appSettings>
</configuration>